@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

#logo-container {
  min-width: 41.6rem;
  height: 12rem;
  position: relative;
  &::before,
  &::after {
    font-size: 1.6rem;
    position: absolute;
    color: white;
  }
  &::before {
    content: "THE BOYZ FULL ALBUM";
    top: -3rem;
    left: 0;
  }
  &::after {
    content: "18:00 KST JUNE 13";
    bottom: -2rem;
    right: 0;
  }

  svg {
    position: absolute;
    top: 0;
  }
  svg:nth-child(1) {
    left: 0;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
  svg:nth-child(2) {
    left: 18%;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
  svg:nth-child(3) {
    left: 28%;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
  svg:nth-child(4) {
    left: 33.5%;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
  svg:nth-child(5) {
    left: 40%;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
  svg:nth-child(6) {
    left: 54%;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
  svg:nth-child(7) {
    top: 10%;
    left: 61%;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
  svg:nth-child(8) {
    top: 25%;
    left: 65%;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
  svg:nth-child(9) {
    left: 81%;
    animation: pulse 1.4s ease-in-out 2s infinite alternate;
  }
}

// ---------------- MEDIA QUERIES ---------------- //

@media screen and (max-width: 720px) {
  #logo-container {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 550px) {
  #logo-container {
    transform: scale(0.6);
    &::before,
    &::after {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 450px) {
  #logo-container {
    transform: scale(0.5);
    &::before,
    &::after {
      font-size: 2.2rem;
    }
    &::before {
      top: -4rem;
    }
    &::after {
      bottom: -3rem;
    }
  }
}

@media screen and (max-width: 350px) {
  #logo-container {
    transform: scale(0.4);
    &::before,
    &::after {
      font-size: 2.6rem;
    }
  }
}
