#grid-mobile {
  position: relative;
  &::before {
    @include pseudoFormatTL();
    background-image: url("../../assets/gradient.jpg");
    background-position: 0% 50%;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to right, black 2px, transparent 2px),
      linear-gradient(to bottom, black 2px, transparent 2px);
    mask-image: linear-gradient(to right, black 2px, transparent 2px),
      linear-gradient(to bottom, black 2px, transparent 2px);
    -webkit-mask-size: 4rem 4rem;
    mask-size: 4rem 4rem;
    z-index: -1;
  }
  footer {
    @include flexCenterColumn();
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    height: 16rem;
    padding-bottom: 6rem;
    color: white;
  }
}

#hero-mobile {
  width: 100vw;
  height: calc(100vh - 10rem);
  @include flexCenter();
  position: relative;
  #logo-container {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
  }
  a {
    position: absolute;
    bottom: auto;
    left: auto;
    top: 1rem;
    right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    backdrop-filter: blur(0.5rem);
  }
  a,
  #hero-prompt {
    opacity: 0;
    animation: fade-in 0.8s ease-out 0.8s forwards;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

#hero-prompt {
  position: absolute;
  padding-left: 0.25rem;
  bottom: 1rem;
  left: 1rem;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
  @include flexCenter();
  gap: 0.25rem;
  svg {
    animation: bounce 1.5s ease-in-out infinite;
  }
}

#cards-mobile {
  margin: 0.5rem 1rem 2rem 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  .card-container {
    position: static;
    width: 100%;
  }
  .card {
    min-width: 100%;
    height: 25rem;
  }
  .name,
  .position {
    padding-left: 0.5rem;
  }
  .year {
    padding-right: 0.5rem;
  }
}

// ------------------------ MEDIA QUERIES ------------------------ //

@media screen and (max-width: 800px) {
  #cards-mobile {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  #cards-mobile {
    grid-template-columns: 1fr;
    gap: 2rem;
    .card {
      height: 85vh;
    }
  }
}

@media screen and (max-width: 480px) {
  #cards-mobile .card {
    height: 80vh;
  }
}
