@import "./mixins";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Space+Grotesk&display=swap");
@import "../mobile";
@import "../positions";
@import "../logo";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  @include flexCenter();
  font-family: "Space Grotesk", sans-serif;
  background-image: url("../../assets/gradient.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

input,
textarea,
button {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.App {
  perspective: 1000px;
}

#sandbox {
  height: 200vh;
  width: 200vw;
  position: relative;
  @include flexCenter();
  overflow: hidden;
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
  &::before {
    @include pseudoFormatTL();
    background-image: url("../../assets/gradient.jpg");
    background-position: 50% 50%;
    background-size: cover;
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    -webkit-mask-size: 4rem 4rem;
    mask-size: 4rem 4rem;
    z-index: -1;
  }
}

#grid {
  @include absoluteFill();
  user-select: none;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 4px;
  span {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 7rem;
    opacity: 0;
    animation: fade-in 0.8s ease-out 3.2s forwards;
  }
}

@keyframes spawn {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  transition: 1s;
  animation: spawn 0.8s ease-out var(--spawn-delay) forwards;
}

.tile.active {
  transition: 0s;
  opacity: 0;
}

#interface {
  @include absoluteCenter();
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.interface-content {
  pointer-events: all;
}

#zoom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  button {
    width: 3rem;
    height: 2rem;
    border: 1px solid black;
    background-color: white;
    @include flexCenter();
    transition: 0.3s ease-out;
    position: relative;
    &:hover {
      background-color: rgb(190, 190, 190);
    }
  }
  button.active {
    background-color: rgb(190, 190, 190);
  }
  button.flash {
    background-color: yellow;
  }
  button::before {
    @include flexCenter();
    content: "1";
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    border-style: dashed;
    background-color: rgba(255, 255, 255, 0.784);
  }
  button:nth-child(2)::before {
    content: "2";
  }
}

.card {
  height: 20rem;
  width: 15rem;
  background-color: black;
  border: 1px solid black;
  border-radius: 0;
  overflow: hidden;
  user-select: none;
  img {
    @include imageFormat();
    transition: 0.4s ease-out;
    filter: var(--filter);
  }
}

.card:hover {
  cursor: pointer;
  img {
    transform: scale(1.1);
  }
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  user-select: none;
  background-color: black;
  color: white;
  div {
    display: flex;
    justify-content: space-between;
  }
  span {
    margin: 1px;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.7;
  }
  5% {
    opacity: 0.5;
  }
  17% {
    opacity: 0.9;
  }
  28% {
    opacity: 0.6;
  }
  42% {
    opacity: 0.7;
  }
  63% {
    opacity: 0.9;
  }
  79% {
    opacity: 0.8;
  }
  91% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.title.active .title-char {
  animation: flicker 20s infinite var(--delay) steps(1);
}

.card-container {
  width: fit-content;
  position: absolute;
  pointer-events: all;
  opacity: 0;
  animation: fade-in 0.3s linear 3.2s forwards;
  .swap {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    opacity: 0;
    transition: 0.3s ease-out;
  }
}

.card-container:has(.card:hover) .swap {
  opacity: 1;
}

#cards {
  @include absoluteFill();
  pointer-events: none;
}
