@import "./mixins";
@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  @include flexCenter();
  // background-color: black;
}

input,
textarea,
button {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.App {
  perspective: 1000px;
}

#sandbox {
  height: 200vh;
  width: 200vw;
  position: relative;
  @include flexCenter();
  flex-wrap: wrap;
  gap: 1rem;
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
  &::before {
    @include pseudoFormatTL();
    background-image: url("../../assets/gradient.jpg");
    background-position: 50% 50%;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to right, black 1px, transparent 1px),
      linear-gradient(to bottom, black 1px, transparent 1px);
    mask-image: linear-gradient(to right, black 1px, transparent 1px),
      linear-gradient(to bottom, black 1px, transparent 1px);
    -webkit-mask-size: 4rem 4rem;
    mask-size: 4rem 4rem;
    z-index: -1;
  }
}

#interface {
  @include absoluteCenter();
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.interface-content {
  pointer-events: all;
}

#zoom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  button {
    width: 3rem;
    height: 2rem;
    border: 1px solid black;
    background-color: white;
    @include flexCenter();
    transition: 0.3s ease-out;
    position: relative;
    &:hover {
      background-color: rgb(190, 190, 190);
    }
  }
  button.active {
    background-color: rgb(190, 190, 190);
  }
  button::before {
    @include flexCenter();
    content: "1";
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    border-style: dashed;
    background-color: rgba(255, 255, 255, 0.784);
  }
  button:nth-child(2)::before {
    content: "2";
  }
}

.card {
  height: 20rem;
  width: 15rem;
  border: 1px solid black;
  border-radius: 0;
  overflow: hidden;
  user-select: none;
  img {
    @include imageFormat();
    transition: 0.4s ease-out;
    filter: var(--filter);
  }
}

.card:hover {
  cursor: pointer;
  img {
    transform: scale(1.1);
  }
}
